#education
{
    overflow: hidden;
    height: 90vh;
    width: 100vw;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
#education_heading
{
    font-size: 2vw;
    margin-bottom: -2rem;
}
#boxes
{
    display: flex;
    position: relative;
    margin: 2rem 2rem;
}
button
{
    border-color: transparent;
}
#box_img
{
    height: 30vw;
    width: 20vw;
    margin: 2rem 2rem;
    border-radius: 2rem;
}
#education_info
{
    display: none;
}
